
/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
} */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  width: 100%;
}
 .trips, .accinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 1rem;
  color: white;
  font-size: larger;
 }

 li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
 }

  .logo {
    width: 150px;
    height: auto;
    background: none;
  }

  .midPart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15rem;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 5rem;
  }

  .booking {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #station {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    width: max-content;
    position: absolute;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  #place {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    padding-top: 5rem;
    padding-bottom: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    border-radius: 15px;
    margin-top: 22rem;
  }

  #placeName::placeholder {
    font-weight: bold;
  }

  .specialfarebooking {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .special {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    margin-top: 30rem;
    width: 1000px;
  }

  #specialFare {
    padding: 3rem;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    margin-top: 44rem;
    color: white;
    font-weight: bold;
    font-size: x-large;
  }